<!DOCTYPE html>
<html>

<head>
    <title>Upload Image</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>

<body>
    <h1>Upload Image</h1>
    <form action="/api/images/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="imageData">
        <button type="submit">Upload</button>
    </form>
</body>

</html>